/* Medium Layout */
@media only screen and (min-width:992px) and (max-width:1200px){
    .container{
        width:60.625rem;
    }
}

/* tablet */
@media only screen and (min-width:768px) and (max-width:991px){
    .container{
        width:46.875rem;
    }
}

/* mobile */
@media only screen and (max-width:767px){
    .container{
        width:21.875rem;
    }

    .header, .cardArea, .services{
        flex-direction: column;
    }
    
    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .cardArea{
        flex-direction: column;
    }

    .aboutCard{
        margin-bottom: 1rem;
        flex-basis: 100%;
    }

    .serviceCard{
        width: 100%;
        margin-bottom: 1rem;
    }

    .singleGallery{
        flex-basis: 50%;
    }

    .contactForm{
        width: 100%;
        margin-bottom: 2rem;
    }

    .contactRight{
        width: 100%;
    }
}